* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-color);
  transition: all 0.3s;
}

.slider article {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  position: absolute;
  bottom: 40%;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 12px;
  z-index: 1;
}

::-webkit-scrollbar-track {
  background-color: #717873;
  padding: 0px 10px;
}

::-webkit-scrollbar-thumb {
  z-index: 1;
  background: rgb(194, 194, 194);
  border-radius: 10px;
}

.darkmode {
  background-color: #00b141;
  color: var(--letters);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  color: var(--letters);
  width: 140px;
  height: 1px;
}
.back:hover {
  color: #00b141;
}

.ScrolBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  background-color: var(--btn-oneColor);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 9999999999;
}
.ScrolBtn img {
  width: 40px;
}

.btnOne {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 20px;
  gap: 10px;
  background-color: var(--btn-oneColor);
  cursor: pointer;
  border: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.2s;
}
.btnOne:hover {
  background-color: rgba(0, 177, 65, 0.7333333333);
}
.btnOne img {
  width: 20px;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  width: 170px;
  height: 50px;
  background-color: #00b141;
  color: white;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s;
}
.btn2:hover {
  background-color: rgba(0, 177, 65, 0.7333333333);
}

.btnThree {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 90%;
  background-color: #00b141;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  color: white;
  transition: all 0.5s;
}
.btnThree:hover {
  transform: scale(0.95);
}
.btnThree:active {
  background-color: rgba(0, 177, 65, 0.6862745098);
}

.btnFour {
  padding: 15px 10px;
  cursor: pointer;
  background-color: #00b141;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  position: relative;
  transition: all 0.3s;
}
.btnFour:hover {
  background-color: rgba(0, 177, 65, 0.8039215686);
}
.btnFour:active {
  transform: scale(0.9);
  transform: 0.2s;
}

::-moz-selection {
  color: cyan;
  background-color: transparent;
}

::selection {
  color: cyan;
  background-color: transparent;
}

:root {
  --bg-color: #ffffff;
  --primary-color:#00B140;
  --select-color:aqua;
  --select-back:rgb(255, 187, 0);
  --btn-oneColor:#00B140;
  --btn-twoColor:rgb(253,170,14);
  --border: white;
  --malpage: black;
  --letters: black;
  --oneH1: gray;
  --filter: filter: grayscale(100%);
}

.dark-mode {
  --bg-color: #333;
  --color: white;
  --boder: #00B140;
  --malpage: white;
  --letters: rgb(249, 249, 249);
  --oneH1: white;
  --filter: filter: brightness(0) invert(1);
}

.malpage {
  background-color: var(--malpage);
}

.container {
  max-width: 1450px;
  margin: auto;
}

.divNav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.link {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  padding: 0px 50px;
  height: 100px;
  margin: auto;
  z-index: 99999999999;
}
nav .one {
  position: relative;
  display: flex;
  align-items: center;
}
nav .one .logo {
  width: 75px;
  cursor: pointer;
}
nav .one .logo:hover ~ span {
  left: 80px;
  opacity: 1;
}
nav .one span {
  position: absolute;
  left: 74px;
  font-size: 15px;
  transition: all 0.5s;
  opacity: 0;
  color: var(--btn-oneColor);
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
nav ul .link {
  text-decoration: none;
  color: black;
}
nav ul li {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding: 7px;
  color: black;
  text-decoration: none;
}
nav ul li::before {
  content: "";
  width: 0px;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #00B140;
  z-index: -1;
  transition: all 1s;
}
nav ul li:hover::before {
  width: 100%;
  height: 5px;
}
nav ul li::after {
  content: "";
  width: 0px;
  height: 5px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #00B140;
  z-index: -1;
  transition: all 1s;
}
nav ul li:hover::after {
  width: 100%;
  height: 5px;
}

.medianav {
  display: none;
  align-items: center;
  justify-content: space-between;
  display: none;
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000000000000000000000000000;
}
.medianav article {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.medianav article .span {
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.medianav article .span p {
  color: var(--letters);
}
.medianav article img {
  margin: auto;
  filter: brightness(0) saturate(100%) invert(49%) sepia(85%) saturate(463%) hue-rotate(89deg) brightness(94%) contrast(100%);
}

@media (max-width: 1189px) {
  .medianav {
    display: flex;
  }
  .medianav img {
    width: 50px;
  }
}
@media (max-width: 514px) {
  .medianav {
    display: flex;
  }
  .medianav .span img {
    width: 40px;
  }
  .medianav .span p {
    font-size: 10px;
  }
}
.topMedia {
  display: none;
  z-index: 10000000000000000000;
}

@media (max-width: 1189px) {
  .topMedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .topMedia div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    gap: 20px;
  }
  .topMedia img {
    width: 70px;
  }
}
.divNavBottom {
  width: 100%;
  bottom: 0;
  left: 0;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 50px;
  max-width: 1410px;
  margin: auto;
  padding: 20px 20px;
}
.navBottom .logo {
  cursor: pointer;
  transition: all 0.5s;
}
.navBottom .logo:hover {
  transform: scale(1.2);
}
.navBottom ul {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  position: relative;
}
.navBottom ul li {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  transition: all 0.3s;
  color: var(--letters);
}
.navBottom ul li:hover {
  color: #00B140;
  transform: translateY(-5px);
}
.navBottom .two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  z-index: 999999;
}
.navBottom .two .smm {
  display: grid;
  grid-gap: 20px;
}
.navBottom .two .smm div {
  border-radius: 50%;
  transition: all 0.3s;
}
.navBottom .two .smm div a {
  display: flex;
  transition: all 0.3s;
}
.navBottom .two .smm div:hover {
  transform: scale(1.3);
}
.navBottom .two .smm div:hover img {
  filter: brightness(0) saturate(100%) invert(100%);
}
.navBottom .two .smm div:nth-child(1):hover {
  background-color: #0088cc;
}
.navBottom .two .smm div:nth-child(2):hover {
  background-color: #FF0000;
}
.navBottom .two .smm div:nth-child(3):hover {
  background-color: #4267B2;
}
.navBottom .two .smm div:nth-child(4):hover {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}
.navBottom .two .smm div:nth-child(5):hover {
  background-color: #1DA1F2;
}
.navBottom .two .smm div img {
  width: 30px;
  padding: 10px;
  cursor: pointer;
}
.navBottom .two article {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.navBottom .two article .mail {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navBottom .two article .mail img {
  width: 30px;
  padding: 5px;
  background-color: gray;
  border-radius: 10px;
}
.navBottom .two article .mail h1 {
  font-weight: 200;
  font-size: 25px;
}
.navBottom .two article .phone {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navBottom .two article .phone img {
  width: 30px;
  padding: 5px;
  background-color: gray;
  border-radius: 10px;
}
.navBottom .two article .phone h1 {
  font-weight: 200;
  font-size: 25px;
}

@media (max-width: 1189px) {
  .divNavBottom {
    padding-bottom: 100px;
  }
  .navTop {
    display: none;
  }
  .navBottom {
    display: flex;
  }
}
@media (max-width: 600px) {
  .divNavBottom {
    padding-bottom: 100px;
  }
  .navTop {
    display: none;
  }
  .navBottom {
    display: flex;
  }
  .navBottom ul li {
    font-size: 15px;
  }
  .navBottom .logo {
    width: 100px;
  }
}
@media (max-width: 476px) {
  .divNavBottom {
    padding-bottom: 100px;
  }
  .divNavBottom .logo {
    display: none;
  }
  .navTop {
    display: none;
  }
  .navBottom {
    display: flex;
  }
  .navBottom ul li {
    font-size: 15px;
  }
  .navBottom .logo {
    width: 100px;
  }
}
.MainPage {
  display: grid;
  grid-gap: 50px;
  margin-top: 100px;
  padding: 0px 20px;
  padding: 20px;
}
.MainPage .topPage {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}
.MainPage .topPage .swiper {
  width: 100%;
  height: 100%;
}
.MainPage .topPage .slider {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 50px;
}
.MainPage .topPage .swiper-slide img {
  border-radius: 30px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
.MainPage .topPage .slider::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 177, 65, 0.2431372549);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.MainPage .topPage article {
  display: grid;
  grid-gap: 20px;
  position: absolute;
  z-index: 1;
  color: white;
  padding-left: 50px;
  width: 50%;
  text-shadow: 0px 0px 2px black;
}
.MainPage .topPage article a {
  margin-top: 20px;
}
.MainPage .topPage article p:nth-child(2) {
  line-height: 35px;
}
.MainPage .topPage article p {
  font-size: 27px;
  text-shadow: 0px 0px 5px gray;
}
.MainPage .topPage article .xyr {
  font-size: 25px;
  font-weight: 300;
  z-index: 1;
}
@media (max-width: 899px) {
  .MainPage .topPage p:nth-child(1) {
    font-size: 20px;
  }
  .MainPage .topPage p:nth-child(2) {
    font-size: 20px;
  }
}
@media (max-width: 670px) {
  .MainPage .topPage article {
    width: 70%;
  }
  .MainPage .topPage p:nth-child(1) {
    font-size: 17px;
  }
  .MainPage .topPage p:nth-child(2) {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .MainPage .topPage {
    height: 500px;
  }
  .MainPage .topPage article {
    width: 80%;
  }
  .MainPage .topPage p:nth-child(1) {
    font-size: 15px;
  }
  .MainPage .topPage p:nth-child(2) {
    font-size: 15px;
  }
  .MainPage .topPage a {
    height: 40px;
  }
}
.MainPage .one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.MainPage .one .box {
  display: grid;
  width: 330px;
  height: 280px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  padding-bottom: 50px;
  text-align: start;
  transition: all 0.5s;
}
.MainPage .one .box:hover {
  transform: translateY(-15px);
}
.MainPage .one .box p {
  font-size: 25px;
  color: #00b141;
}
.MainPage .one .box h1 {
  font-size: 22px;
  font-weight: 500;
  color: var(--oneH1);
}
@media (max-width: 1110px) {
  .MainPage .one .box {
    margin: auto;
  }
}
@media (max-width: 780px) {
  .MainPage .one .box {
    width: 100%;
    height: 250px;
    background-color: rgba(128, 128, 128, 0.3);
  }
  .MainPage .one .box button {
    margin: auto;
  }
}
@media (max-width: 442px) {
  .MainPage .one .box {
    height: 260px;
  }
  .MainPage .one .box h1 {
    font-size: 20px;
  }
}
.MainPage .two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}
.MainPage .two .one iframe {
  width: 100%;
  height: 700px;
  border-radius: 20px;
}
.MainPage .two .three {
  display: grid;
  justify-content: end;
  align-items: start;
  line-height: 40px;
  width: 100%;
  height: 700px;
  margin: auto;
  text-align: center;
  line-height: 50px;
}
.MainPage .two .three .p {
  color: #00b141;
  font-size: 30px;
}
.MainPage .two .three .important {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 20px;
  overflow-y: auto;
  max-height: 620px;
  border-radius: 20px;
  padding: 5px;
}
.MainPage .two .three .important .people {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--other);
  width: 600px;
  height: 30px;
  padding: 30px 15px;
  margin: auto;
  text-align: start;
  border: 1px solid var(--border);
  border-radius: 10px;
}
.MainPage .two .three .important .people:hover {
  background-color: rgba(128, 128, 128, 0.3);
}
.MainPage .two .three .important .people .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.MainPage .two .three .important .people .left .nsa {
  line-height: 25px;
}
.MainPage .two .three .important .people .left .nsa h1 {
  font-weight: 500;
  color: var(--letters);
}
.MainPage .two .three .important .people .left .nsa img {
  width: 200px;
  height: 200px;
  fill: red; /* Rangni CSS orqali o'zgartirish */
}
.MainPage .two .three .important .people .left .nsa .name {
  color: #00b141;
  font-weight: 500;
}
.MainPage .two .three .important .people .left .uicon {
  width: 70px;
  height: 70px;
}
.MainPage .two .three .important .people .right {
  display: flex;
  align-items: center;
  gap: 5px;
}
.MainPage .two .three .important .people .right h1 {
  color: var(--letters);
  font-weight: 500;
}
.MainPage .two .three .important .people .right .star {
  width: 30px;
}
.MainPage .two .three .important::-webkit-scrollbar {
  width: 0px;
}
@media (max-width: 1440px) {
  .MainPage .two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  }
  .MainPage .two .three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .MainPage .two .three .p {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .MainPage .two .three .important {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .MainPage .two .three .important .people {
    width: 45%;
  }
}
@media (max-width: 1056px) {
  .MainPage .two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  }
  .MainPage .two .three .important .people {
    font-size: 15px;
  }
}
@media (max-width: 840px) {
  .MainPage .two .three .important .people {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .MainPage .two {
    display: flex;
    flex-wrap: wrap;
  }
  .MainPage .two .one {
    width: 100%;
  }
  .MainPage .two .one iframe {
    width: 100%;
  }
  .MainPage .two .three {
    justify-content: center;
  }
  .MainPage .two .three .important {
    width: 100%;
  }
  .MainPage .two .three .people {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .MainPage .two .one {
    height: 450px;
  }
  .MainPage .two .one iframe {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 475px) {
  .MainPage .two .three .important .people {
    font-size: 13px;
  }
}
.MainPage .four {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.MainPage .four .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 350px;
  height: 250px;
  border-radius: 20px;
  position: relative;
  background-color: #E0E0E0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.31);
}
.MainPage .four .box::before {
  content: "";
  width: 120px;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #00b141;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
  transition: all 0.7s;
}
.MainPage .four .box:hover::before {
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.MainPage .four .box:hover p:nth-child(1) {
  color: white;
}
.MainPage .four .box .icon {
  width: 80px;
  z-index: 2;
}
.MainPage .four .box article {
  width: 180px;
  z-index: 2;
  line-height: 35px;
}
.MainPage .four .box article p {
  font-size: 25px;
  text-align: center;
}
.MainPage .four .box article p:nth-child(1) {
  color: #00b141;
  transition: all 1s;
}
.MainPage .four .box article p:nth-child(2) {
  color: rgb(255, 187, 0);
}
@media (max-width: 1440px) {
  .MainPage .four {
    gap: 30px;
  }
  .MainPage .four .box {
    margin: auto;
  }
}
@media (max-width: 1000px) {
  .MainPage .four .box {
    width: 100%;
  }
  .MainPage .four .box .icon {
    width: 100px;
  }
  .MainPage .four .box article {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40%;
  }
  .MainPage .four .box article div {
    display: grid;
  }
  .MainPage .four .box article div p {
    font-size: 40px;
  }
  .MainPage .four .box::before {
    width: 140px;
  }
}
@media (max-width: 500px) {
  .MainPage .four .box .icon {
    width: 80px;
  }
  .MainPage .four .box article {
    position: absolute;
    top: 0;
    left: 40%;
  }
  .MainPage .four .box article div p {
    font-size: 30px;
  }
  .MainPage .four .box::before {
    width: 120px;
  }
}
@media (max-width: 379px) {
  .MainPage .four .box article div p {
    font-size: 25px;
  }
}
.MainPage .five {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.MainPage .five .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 650px;
  background-color: #E0E0E0;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s;
}
.MainPage .five .box:hover {
  box-shadow: 5px 5px 15px gray;
}
.MainPage .five .box article {
  display: grid;
  grid-gap: 15px;
  width: 50%;
}
.MainPage .five .box article p {
  font-size: 20px;
}
.MainPage .five .box:nth-child(1) img {
  width: 150px;
  transition: all 0.6s;
}
.MainPage .five .box:nth-child(2) img {
  width: 190px;
  transition: all 0.6s;
}
@media (max-width: 1440px) {
  .MainPage .five {
    margin-top: -10px;
  }
  .MainPage .five .box {
    margin: auto;
  }
}
@media (max-width: 1000px) {
  .MainPage .five {
    gap: 20px;
  }
  .MainPage .five .box {
    width: 100%;
    height: 200px;
  }
  .MainPage .five .box article {
    width: 50%;
  }
}
@media (max-width: 570px) {
  .MainPage .five .box {
    gap: 10px;
  }
  .MainPage .five .box article p {
    font-size: 15px;
  }
  .MainPage .five .box button {
    font-size: 13px;
  }
  .MainPage .five .box:nth-child(1) img {
    width: 140px;
  }
  .MainPage .five .box:nth-child(2) img {
    width: 150px;
  }
}
@media (max-width: 480px) {
  .MainPage .five .box {
    line-height: 20px;
  }
  .MainPage .five .box button {
    font-size: 12px;
  }
  .MainPage .five .box article {
    width: 60%;
  }
  .MainPage .five .box article p {
    font-size: 15px;
  }
  .MainPage .five .box:nth-child(1) img {
    width: 120px;
  }
  .MainPage .five .box:nth-child(2) img {
    width: 120px;
  }
}
@media (max-width: 449px) {
  .MainPage .five .box article {
    width: 50%;
  }
  .MainPage .five .box article p {
    font-size: 13px;
  }
  .MainPage .five .box button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    height: 50px;
  }
  .MainPage .five .box .p {
    color: red;
  }
  .MainPage .five .box img {
    max-width: 100px;
  }
}
.MainPage .MainNews {
  display: grid;
  grid-gap: 50px;
}
.MainPage .MainNews .p {
  font-size: 30px;
  color: var(--malpage);
}
.MainPage .MainNews .bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.MainPage .MainNews .bottom .box {
  display: grid;
  width: 300px;
  height: 380px;
  background-color: #E0E0E0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  padding-bottom: 50px;
  transition: all 0.6s;
  cursor: pointer;
}
.MainPage .MainNews .bottom .box:hover {
  transform: translateY(-15px);
  box-shadow: 5px 5px 10px gray;
}
.MainPage .MainNews .bottom .box .topNews img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
}
.MainPage .MainNews .bottom .box .topNews .name {
  margin-top: 7px;
}
.MainPage .MainNews .bottom .box .h1 {
  font-size: 19px;
  font-weight: 400;
}
.MainPage .MainNews .bottom .box .span {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 7px;
  background-color: rgb(253, 170, 14);
  height: 50px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 280px;
  color: black;
}
.MainPage .MainNews .bottom .box .span .date {
  display: flex;
  align-items: center;
  gap: 5px;
}
.MainPage .MainNews .bottom .box .span .clock {
  display: flex;
  align-items: center;
  gap: 5px;
}
.MainPage .MainNews .bottom .box .span img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1190px) {
  .MainPage .MainNews .bottom .box {
    width: 45%;
  }
  .MainPage .MainNews .bottom .box .topNews .imgOne {
    height: 200px;
  }
}
@media (max-width: 740px) {
  .MainPage .MainNews .bottom .box {
    width: 100%;
    height: 450px;
  }
  .MainPage .MainNews .bottom .box .topNews .imgOne {
    height: 300px;
  }
}
@media (max-width: 690px) {
  .MainPage .MainNews .bottom .box {
    margin: auto;
  }
}
@media (max-width: 595px) {
  .MainPage .MainNews .bottom .box {
    width: 100%;
    height: 470px;
  }
  .MainPage .MainNews .bottom .box .topNews {
    font-size: 15px;
  }
  .MainPage .MainNews .bottom .box .topNews .imgOne {
    height: 300px;
  }
}
@media (max-width: 517px) {
  .MainPage .MainNews .bottom .box {
    width: 100%;
    height: 470px;
  }
  .MainPage .MainNews .bottom .box .topNews {
    font-size: 15px;
  }
  .MainPage .MainNews .bottom .box .topNews .imgOne {
    height: 250px;
  }
}
@media (max-width: 450px) {
  .MainPage .MainNews .bottom .box {
    height: 370px;
  }
  .MainPage .MainNews .bottom .box .topNews {
    font-size: 15px;
  }
  .MainPage .MainNews .bottom .box .topNews .imgOne {
    height: 200px;
  }
  .MainPage .MainNews .bottom .box:nth-child(2) {
    height: 400px;
  }
}
.MainPage .experts .topInfo {
  font-size: 30px;
  padding-bottom: 50px;
  color: var(--malpage);
}
.MainPage .experts .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.MainPage .experts .bottom .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.MainPage .experts .bottom .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainPage .experts .bottom .boxExpert {
  width: 330px;
  margin-bottom: 50px;
  position: relative;
  cursor: pointer;
}
.MainPage .experts .bottom .boxExpert:hover span {
  opacity: 1;
}
.MainPage .experts .bottom .boxExpert .expertImg {
  width: 100%;
  border-radius: 20px;
}
.MainPage .experts .bottom .boxExpert span {
  display: grid;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 177, 65, 0.5137254902);
  border-radius: 10px;
  width: 330px;
  height: 99%;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.4s;
}
.MainPage .experts .bottom .boxExpert span:nth-child(1) {
  background-color: red;
}
.MainPage .experts .bottom .boxExpert span h1 {
  position: absolute;
  font-size: 20px;
  bottom: 20px;
  left: 20px;
  color: white;
  font-weight: 500;
  padding-right: 70px;
}
.MainPage .experts .bottom .boxExpert span h1:nth-child(1) {
  width: 200px;
}
.MainPage .experts .bottom .boxExpert span img {
  margin: auto;
  width: 50px;
}
@media (max-width: 1090px) {
  .MainPage .experts .bottom {
    gap: 30px;
  }
  .MainPage .experts .bottom .boxExpert {
    width: 45%;
  }
  .MainPage .experts .bottom .boxExpert span {
    width: 100%;
  }
  .MainPage .experts .bottom .boxExpert span h1 {
    width: 240px;
  }
}
@media (max-width: 730px) {
  .MainPage .experts {
    margin: auto;
  }
  .MainPage .experts .bottom .boxExpert {
    width: 100%;
  }
  .MainPage .experts .bottom .boxExpert span {
    width: 100%;
  }
  .MainPage .experts .bottom .boxExpert span h1 {
    width: 240px;
  }
}
@media (max-width: 690px) {
  .MainPage .experts .bottom {
    gap: 30px;
  }
  .MainPage .experts .bottom .boxExpert {
    margin: auto;
  }
}
.MainPage .sponsors {
  overflow: hidden;
}
.MainPage .sponsors .topSponsors {
  padding-bottom: 10px;
  color: var(--malpage);
}
.MainPage .sponsors .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainPage .sponsors .bottom .swiper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.MainPage .sponsors .bottom .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainPage .sponsors .bottom .sponsor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: rgba(0, 177, 65, 0.4901960784);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.MainPage .sponsors .bottom .sponsor:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px gray;
}
.MainPage .sponsors .bottom .sponsor img {
  width: 200px;
}
.MainPage .sponsors .bottom .sponsor:nth-child(1) img {
  width: 220px;
}
.MainPage .sponsors .bottom .sponsor:nth-child(3) img {
  width: 230px;
}
.MainPage .sponsors .bottom .sponsor:nth-child(4) img {
  width: 250px;
}
.MainPage .sponsors .bottom .sponsor:nth-child(5) img {
  width: 140px;
}
.MainPage .sponsors .bottom .sponsor:nth-child(6) img {
  width: 120px;
}
.MainPage .sponsors .bottom .sponsor:nth-child(8) img {
  width: 230px;
}
.MainPage .sponsors .bottom .sponsor:nth-child(9) img {
  width: 240px;
}
@media (max-width: 1000px) {
  .MainPage .sponsors .bottom .sponsor {
    width: 350px;
  }
}
@media (max-width: 973px) {
  .MainPage .sponsors .bottom .sponsor {
    width: 200px;
  }
  .MainPage .sponsors .bottom .sponsor img {
    max-width: 150px;
  }
}
@media (max-width: 697px) {
  .MainPage .sponsors .bottom .sponsor {
    width: 150px;
    height: 150px;
  }
  .MainPage .sponsors .bottom .sponsor img {
    max-width: 130px;
    width: 10px;
  }
  .MainPage .sponsors .bottom .sponsor:nth-child(6) img {
    width: 20px;
  }
}
@media (max-width: 613px) {
  .MainPage .sponsors .bottom .sponsor {
    width: 120px;
    height: 140px;
  }
  .MainPage .sponsors .bottom .sponsor img {
    max-width: 130px;
  }
}
@media (max-width: 578px) {
  .MainPage .sponsors .bottom .sponsor {
    width: 110px;
    height: 120px;
  }
  .MainPage .sponsors .bottom .sponsor img {
    max-width: 80px;
  }
}
@media (max-width: 424px) {
  .MainPage .sponsors .bottom .sponsor {
    width: 100px;
    height: 100px;
  }
  .MainPage .sponsors .bottom .sponsor img {
    max-width: 70px;
  }
}
@media (max-width: 372px) {
  .MainPage .sponsors .bottom .sponsor {
    width: 90px;
    height: 90px;
  }
  .MainPage .sponsors .bottom .sponsor img {
    max-width: 65px;
  }
}
.MainPage .commentsPage .topCommentsPage {
  padding-bottom: 30px;
  color: var(--malpage);
}
.MainPage .commentsPage .bottom textarea {
  max-width: 1px;
  min-width: 95%;
  padding: 1.5%;
  min-height: 150px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #00b141;
  font-size: 20px;
  color: rgb(253, 170, 14);
  margin: auto;
  background-color: var(--bg-color);
}
.MainPage .commentsPage .bottom .sentButton {
  padding: 10px 20px;
  border: none;
  background-color: #00b141;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  margin: 20px 0px;
}
.MainPage .commentsPage .bottom .two {
  display: flex;
  flex-wrap: wrap;
}
.MainPage .commentsPage .bottom .two .sms {
  display: grid;
  grid-gap: 20px;
  width: 100%;
}
.MainPage .commentsPage .bottom .two .sms .boxSms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 20px 10px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid var(--border);
}
.MainPage .commentsPage .bottom .two .sms .boxSms:hover {
  transform: translateY(-5px);
}
.MainPage .commentsPage .bottom .two .sms .boxSms .left {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 25px;
}
.MainPage .commentsPage .bottom .two .sms .boxSms .left p {
  color: var(--letters);
}
.MainPage .commentsPage .bottom .two .sms .boxSms .left h1 {
  font-size: 17px;
  font-weight: 500;
  color: #00b141;
}
.MainPage .commentsPage .bottom .two .sms .boxSms .left img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.MainPage .commentsPage .bottom .two .sms .boxSms .left .user {
  border-radius: 0px;
}
.MainPage .commentsPage .bottom .two .sms .boxSms .right {
  color: var(--letters);
}
@media (max-width: 692px) {
  .MainPage .commentsPage .bottom .two .sms .boxSms .left img {
    width: 50px;
    height: 50px;
  }
  .MainPage .commentsPage .bottom .two .sms .boxSms .left p {
    font-size: 14px;
  }
  .MainPage .commentsPage .bottom .two .sms .boxSms .left h1 {
    font-size: 10px;
    font-weight: 500;
    color: #00b141;
  }
  .MainPage .commentsPage .bottom .two .sms .boxSms .right {
    font-size: 10px;
  }
}

@media (max-width: 1189px) {
  .MainPage {
    padding-top: 0px;
    padding-bottom: 600px;
  }
}
.expertMal {
  display: grid;
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 100px;
}
.expertMal .box {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  border-radius: 10px;
  background-color: #E0E0E0;
  padding: 20px;
}
.expertMal .box .top {
  display: grid;
  text-align: center;
  margin: auto;
  line-height: 30px;
}
.expertMal .box .top a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.expertMal .box .top .name {
  font-size: 17px;
  font-weight: 600;
}
.expertMal .box .top P {
  color: gray;
}
.expertMal .box .top img {
  width: 300px;
  margin: auto;
  border-radius: 10px;
}
.expertMal .box .center {
  line-height: 30px;
}
.expertMal .box .center span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.expertMal .box .center span .icon {
  width: 20px;
}
.expertMal .box button {
  margin-top: 30px;
  width: 300px;
  cursor: pointer;
  height: 40px;
  background-color: #00b141;
  border: none;
  border-radius: 10px;
  color: white;
  margin: auto;
}
.expertMal .box .biografiya h1 {
  font-weight: 500;
  color: #00b141;
  padding-bottom: 20px;
}
.expertMal .box .biografiya p {
  line-height: 25px;
  font-size: 15px;
}

@media (max-width: 500px) {
  .expertMal .center span .centerLittles {
    font-size: 10px;
  }
}
.notFount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999999999;
  background-color: white;
}
.notFount div {
  display: grid;
  text-align: center;
  justify-content: center;
}
.notFount div img {
  transition: all 0.6s;
  width: 1000px;
}
.notFount div .btn {
  text-decoration: none;
  padding: 15px 10px;
  background-color: #0088cc;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  margin: auto;
  transition: all 0.6s;
}

@media (max-width: 962px) {
  .notFount div img {
    width: 700px;
  }
}
@media (max-width: 717px) {
  .notFount div img {
    width: 600px;
  }
}
@media (max-width: 610px) {
  .notFount div img {
    width: 500px;
  }
}
@media (max-width: 513px) {
  .notFount div img {
    width: 400px;
  }
  .notFount div .btn {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .notFount div img {
    width: 350px;
  }
  .notFount div .btn {
    width: 190px;
  }
}
.newsIn {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.newsIn .box a {
  padding: 30px 0px;
  color: var(--letters);
}
.newsIn .box .nameNew {
  font-weight: 500;
  line-height: 50px;
  padding-bottom: 20px;
  color: var(--letters);
}
.newsIn .box img {
  border-radius: 10px;
  width: 100%;
}
.newsIn .box .teamNew {
  color: #00b141;
  font-weight: 500;
  padding: 30px 0px;
}
.newsIn .box p {
  font-size: 23px;
  line-height: 30px;
  color: grey;
  background-color: #E0E0E0;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

@media (max-width: 566px) {
  .newsIn .box .nameNew {
    font-weight: 500;
    line-height: 30px;
    font-size: 17px;
  }
  .newsIn .box img {
    width: 100%;
  }
  .newsIn .box .teamNew {
    color: #00b141;
    font-weight: 500;
    padding: 30px 0px;
    font-size: 17px;
  }
  .newsIn .box p {
    font-size: 20px;
    line-height: 30px;
    color: grey;
  }
}
.aboutPage {
  padding: 0px 20px;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 20px;
}
.aboutPage .top {
  padding: 20px 0px;
  color: var(--letters);
}
.aboutPage .p {
  font-size: 20px;
  line-height: 30px;
  padding: 20px;
  background-color: #E0E0E0;
  border-radius: 20px;
}
.aboutPage .bottom {
  padding-top: 30px;
  display: grid;
  grid-gap: 50px;
}
.aboutPage .bottom .four {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.aboutPage .bottom .four .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 350px;
  height: 250px;
  border-radius: 20px;
  position: relative;
  background-color: #E0E0E0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.31);
}
.aboutPage .bottom .four .box::before {
  content: "";
  width: 120px;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #00b141;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
  transition: all 0.7s;
}
.aboutPage .bottom .four .box:hover::before {
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.aboutPage .bottom .four .box:hover p:nth-child(1) {
  color: white;
}
.aboutPage .bottom .four .box .icon {
  width: 80px;
  z-index: 2;
}
.aboutPage .bottom .four .box article {
  width: 180px;
  z-index: 2;
  line-height: 50px;
}
.aboutPage .bottom .four .box article p {
  font-size: 25px;
  text-align: center;
}
.aboutPage .bottom .four .box article p:nth-child(1) {
  color: #00b141;
  transition: all 1s;
}
.aboutPage .bottom .four .box article p:nth-child(2) {
  color: rgb(255, 187, 0);
}
@media (max-width: 1440px) {
  .aboutPage .bottom .four {
    gap: 30px;
  }
  .aboutPage .bottom .four .box {
    margin: auto;
  }
}
@media (max-width: 1000px) {
  .aboutPage .bottom .four .box {
    width: 100%;
  }
  .aboutPage .bottom .four .box .icon {
    width: 100px;
  }
  .aboutPage .bottom .four .box article {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40%;
  }
  .aboutPage .bottom .four .box article div {
    display: grid;
  }
  .aboutPage .bottom .four .box article div p {
    padding: 10px;
    font-size: 40px;
  }
  .aboutPage .bottom .four .box::before {
    width: 140px;
  }
}
@media (max-width: 500px) {
  .aboutPage .bottom .four .box .icon {
    width: 80px;
  }
  .aboutPage .bottom .four .box article {
    position: absolute;
    top: 0;
    left: 40%;
  }
  .aboutPage .bottom .four .box article div p {
    font-size: 30px;
  }
  .aboutPage .bottom .four .box::before {
    width: 120px;
  }
}
@media (max-width: 379px) {
  .aboutPage .bottom .four .box article div p {
    font-size: 25px;
  }
}
.aboutPage .bottom .five {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.aboutPage .bottom .five .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 650px;
  background-color: #E0E0E0;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s;
}
.aboutPage .bottom .five .box:hover {
  box-shadow: 5px 5px 15px gray;
}
.aboutPage .bottom .five .box article {
  display: grid;
  grid-gap: 15px;
  width: 50%;
  line-height: 20px;
}
.aboutPage .bottom .five .box article p {
  font-size: 20px;
}
.aboutPage .bottom .five .box:nth-child(1) img {
  width: 150px;
  transition: all 0.6s;
}
.aboutPage .bottom .five .box:nth-child(2) img {
  width: 190px;
  transition: all 0.6s;
}
@media (max-width: 1440px) {
  .aboutPage .bottom .five {
    margin-top: -10px;
  }
  .aboutPage .bottom .five .box {
    margin: auto;
  }
}
@media (max-width: 1000px) {
  .aboutPage .bottom .five {
    gap: 20px;
  }
  .aboutPage .bottom .five .box {
    width: 100%;
    height: auto;
  }
  .aboutPage .bottom .five .box article {
    width: 50%;
  }
}
@media (max-width: 570px) {
  .aboutPage .bottom .five .box {
    gap: 10px;
  }
  .aboutPage .bottom .five .box article p {
    font-size: 12px;
  }
  .aboutPage .bottom .five .box button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    font-size: 12px;
  }
  .aboutPage .bottom .five .box:nth-child(1) img {
    width: 140px;
  }
  .aboutPage .bottom .five .box:nth-child(2) img {
    width: 150px;
  }
}
@media (max-width: 480px) {
  .aboutPage .bottom .five .box {
    line-height: 10px;
  }
  .aboutPage .bottom .five .box article {
    width: 60%;
  }
  .aboutPage .bottom .five .box article p {
    font-size: 10px;
  }
  .aboutPage .bottom .five .box:nth-child(1) img {
    width: 120px;
  }
  .aboutPage .bottom .five .box:nth-child(2) img {
    width: 120px;
  }
}
@media (max-width: 449px) {
  .aboutPage .bottom .five .box article {
    width: 60%;
    height: 50%;
  }
  .aboutPage .bottom .five .box article p {
    font-size: 13px;
  }
  .aboutPage .bottom .five .box button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutPage .bottom .five .box .p {
    color: red;
  }
  .aboutPage .bottom .five .box img {
    max-width: 100px;
  }
}

.school {
  display: grid;
  grid-gap: 30px;
  padding: 0px 20px;
  padding-top: 120px;
  padding-bottom: 20px;
  gap: 30px;
}
.school .vedioTop {
  color: var(--letters);
}
.school .video {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.school .video .box {
  border-radius: 20px;
  background-color: #E0E0E0;
  transition: all 0.3s;
  margin: auto;
}
.school .video .box:hover {
  background-color: #00b141;
  box-shadow: 10px 10px 10px gray;
}
.school .video .box iframe {
  width: 450px;
  height: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto;
  border: none;
}
.school .video .box .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
}
.school .video .box .bottom span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.school .video .box .bottom span img {
  width: 30px;
}
.school .media .top {
  padding: 30px 0px;
  color: var(--letters);
}
.school .media .bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.school .media .bottom .box {
  display: grid;
  width: 310px;
  height: 380px;
  background-color: #E0E0E0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  padding-bottom: 50px;
  transition: all 0.6s;
}
.school .media .bottom .box:hover {
  transform: translateY(-15px);
  box-shadow: 5px 5px 10px gray;
}
.school .media .bottom .box .topNews img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
}
.school .media .bottom .box .topNews .name {
  margin-top: 7px;
}
.school .media .bottom .box .h1 {
  font-size: 19px;
  font-weight: 400;
}
.school .media .bottom .box .span {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 7px;
  background-color: rgb(253, 170, 14);
  height: 50px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 280px;
  color: black;
  cursor: pointer;
}
@media (max-width: 1190px) {
  .school .media .bottom .box {
    width: 45%;
  }
  .school .media .bottom .box .topNews .imgOne {
    height: 200px;
  }
}
@media (max-width: 740px) {
  .school .media .bottom .box {
    width: 100%;
    height: 450px;
  }
  .school .media .bottom .box .topNews .imgOne {
    height: 300px;
  }
}
@media (max-width: 690px) {
  .school .media .bottom .box {
    margin: auto;
  }
}
@media (max-width: 595px) {
  .school .school .videoTop {
    font-size: 20px;
  }
  .school .media .top {
    font-size: 20px;
  }
  .school .media .bottom .box {
    width: 100%;
  }
  .school .media .bottom .box .topNews {
    font-size: 15px;
  }
  .school .media .bottom .box .topNews .imgOne {
    height: 200px;
  }
}
@media (max-width: 517px) {
  .school .news .bottom .box {
    width: 100%;
    height: 470px;
  }
  .school .news .bottom .box .topNews {
    font-size: 15px;
  }
  .school .news .bottom .box .topNews .imgOne {
    height: 250px;
  }
}
@media (max-width: 450px) {
  .school .news .bottom .box {
    height: 370px;
  }
  .school .news .bottom .box .topNews {
    font-size: 15px;
  }
  .school .news .bottom .box .topNews .imgOne {
    height: 200px;
  }
  .school .news .bottom .box:nth-child(2) {
    height: 400px;
  }
}
@media (max-width: 970px) {
  .school .video {
    display: grid;
  }
  .school .video .box {
    width: 100%;
  }
  .school .video .box:hover {
    background-color: #00b141;
    box-shadow: 10px 10px 10px gray;
  }
  .school .video .box iframe {
    width: 100%;
  }
  .school .video .box .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .school .video .box .bottom span img {
    width: 17px;
  }
  .school .video .box .bottom span p {
    font-size: 15px;
  }
}

.projectsPage {
  padding: 0px 20px;
  padding-top: 100px;
  padding-bottom: 20px;
}
.projectsPage .top {
  padding: 30px 0px;
  color: var(--letters);
}
.projectsPage .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.projectsPage .bottom .link {
  text-decoration: none;
  color: black;
}
.projectsPage .bottom .box {
  width: 690px;
  border-radius: 20px;
  background-color: #E0E0E0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}
.projectsPage .bottom .box:hover {
  box-shadow: 5px 5px 10px gray;
}
.projectsPage .bottom .box:hover .img img {
  transform: scale(1.1);
}
.projectsPage .bottom .box .img {
  overflow: hidden;
}
.projectsPage .bottom .box .img img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.4s;
}
.projectsPage .bottom .box .bottom {
  padding: 20px;
  display: grid;
  gap: 20px;
}
.projectsPage .bottom .box .bottom h1 {
  font-size: 25px;
  font-weight: 500;
  color: #00b141;
}
.projectsPage .bottom .box .bottom .mal {
  display: grid;
  grid-gap: 10px;
}
.projectsPage .bottom .box .bottom .mal span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.projectsPage .bottom .box .bottom .mal span img {
  width: 30px;
}

@media (max-width: 1444px) {
  .projectsPage .bottom .box {
    width: 600px;
  }
}
@media (max-width: 1286px) {
  .projectsPage .bottom .box {
    width: 550px;
  }
}
@media (max-width: 1277px) {
  .projectsPage .bottom .box {
    width: 500px;
  }
}
@media (max-width: 1081px) {
  .projectsPage .bottom .box {
    width: 450px;
  }
}
@media (max-width: 970px) {
  .projectsPage .bottom .box {
    width: 100%;
  }
}
.ProjectsIn {
  display: grid;
  padding: 0px 20px;
  grid-gap: 20px;
  padding-top: 100px;
  padding-bottom: 20px;
}
.ProjectsIn .box {
  display: grid;
  grid-gap: 30px;
}
.ProjectsIn .box .name {
  color: var(--letters);
}
.ProjectsIn .box img {
  border-radius: 20px;
  width: 100%;
}
.ProjectsIn .box .bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  background-color: #E0E0E0;
  border-radius: 20px;
  border: 2px solid #00b141;
}
.ProjectsIn .box .bottom .in {
  width: 45%;
  display: grid;
  grid-gap: 10px;
}
.ProjectsIn .box .bottom .in span {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ProjectsIn .box .bottom .in span img {
  width: 30px;
}
.ProjectsIn .box .bottom .in span h1 {
  font-weight: 500;
  color: gray;
}
.ProjectsIn .box .bottom .in h1 {
  font-size: 20px;
}
.ProjectsIn .box .bottom .right {
  text-align: start;
}
.ProjectsIn .box .about {
  display: grid;
  grid-gap: 20px;
  border-radius: 20px;
  background-color: #E0E0E0;
  padding: 20px;
}
.ProjectsIn .box .about P {
  font-size: 20px;
}

@media (max-width: 964px) {
  .ProjectsIn .box .bottom .in span {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .ProjectsIn .box .bottom .in span img {
    width: 25px;
  }
  .ProjectsIn .box .bottom .in span h1 {
    font-size: 15px;
    font-weight: 500;
    color: gray;
  }
  .ProjectsIn .box .bottom .in h1 {
    font-size: 20px;
  }
}
@media (max-width: 633px) {
  .ProjectsIn .box .bottom {
    display: grid;
    grid-gap: 10px;
  }
  .ProjectsIn .box .bottom .in {
    width: 100%;
  }
  .ProjectsIn .box .bottom .in span {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .ProjectsIn .box .bottom .in span img {
    width: 30px;
  }
  .ProjectsIn .box .bottom .in span h1 {
    font-size: 20px;
    font-weight: 500;
    color: gray;
  }
  .ProjectsIn .box .bottom .in h1 {
    font-size: 20px;
  }
}
@media (max-width: 488px) {
  .ProjectsIn .box .bottom {
    display: grid;
    grid-gap: 10px;
  }
  .ProjectsIn .box .bottom .in span {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .ProjectsIn .box .bottom .in span img {
    width: 25px;
  }
  .ProjectsIn .box .bottom .in span h1 {
    font-size: 17px;
    font-weight: 500;
    color: gray;
  }
  .ProjectsIn .box .bottom .in h1 {
    font-size: 20px;
  }
}
.news {
  display: grid;
  grid-gap: 50px;
  padding: 0px 20px;
  padding-top: 100px;
  padding-bottom: 20px;
}
.news .p {
  font-size: 30px;
  color: var(--letters);
  padding: 20px;
}
.news .bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.news .bottom .box {
  display: grid;
  width: 310px;
  height: 380px;
  background-color: #E0E0E0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  padding-bottom: 50px;
  transition: all 0.6s;
}
.news .bottom .box:hover {
  transform: translateY(-15px);
  box-shadow: 5px 5px 10px gray;
}
.news .bottom .box .topNews img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
}
.news .bottom .box .topNews .name {
  margin-top: 7px;
}
.news .bottom .box .h1 {
  font-size: 19px;
  font-weight: 400;
}
.news .bottom .box .span {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 7px;
  background-color: rgb(253, 170, 14);
  height: 50px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 280px;
  color: black;
}
.news .bottom .box .span .date {
  display: flex;
  align-items: center;
  gap: 5px;
}
.news .bottom .box .span .clock {
  display: flex;
  align-items: center;
  gap: 5px;
}
.news .bottom .box .span img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1190px) {
  .news .bottom .box {
    width: 45%;
  }
  .news .bottom .box .topNews .imgOne {
    height: 200px;
  }
}
@media (max-width: 780px) {
  .news .bottom .box {
    width: 100%;
  }
}
@media (max-width: 740px) {
  .news .bottom .box {
    width: 100%;
    height: 450px;
  }
  .news .bottom .box .topNews .imgOne {
    height: 300px;
  }
}
@media (max-width: 690px) {
  .news .bottom .box {
    margin: auto;
  }
}
@media (max-width: 595px) {
  .news .bottom .box {
    width: 100%;
    height: 470px;
  }
  .news .bottom .box .topNews {
    font-size: 15px;
  }
  .news .bottom .box .topNews .imgOne {
    height: 300px;
  }
}
@media (max-width: 517px) {
  .news .bottom .box {
    width: 100%;
    height: 470px;
  }
  .news .bottom .box .topNews {
    font-size: 15px;
  }
  .news .bottom .box .topNews .imgOne {
    height: 250px;
  }
}
@media (max-width: 450px) {
  .news .bottom .box {
    height: 370px;
  }
  .news .bottom .box .topNews {
    font-size: 15px;
  }
  .news .bottom .box .topNews .imgOne {
    height: 200px;
  }
  .news .bottom .box:nth-child(2) {
    height: 400px;
  }
}
.volontyorsPage {
  display: grid;
  padding: 0px 20px;
  padding-top: 130px;
  padding-bottom: 0px;
}
.volontyorsPage ul .link {
  text-decoration: none;
}
.volontyorsPage ul li {
  cursor: pointer;
  padding: 20px;
  background-color: #E0E0E0;
  border-radius: 10px;
  border: 1px solid #00b141;
  color: black;
}
.volontyorsPage .in {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.volontyorsPage .in .box {
  width: 650px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #00b141;
}
.volontyorsPage .in .box .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00b141;
  padding: 20px;
  color: white;
}
.volontyorsPage .in .box .top article {
  width: 80%;
  text-align: start;
}
.volontyorsPage .in .box .top article h1 {
  font-weight: 500;
}
.volontyorsPage .in .box .top img {
  border: 5px solid white;
  background-color: #E0E0E0;
  border-radius: 50%;
  width: 50px;
  padding: 10px;
}
.volontyorsPage .in .box .center {
  background-color: white;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
}
.volontyorsPage .in .box .center span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.volontyorsPage .in .box .center span img {
  width: 30px;
}
.volontyorsPage .in .box .center span p {
  color: gray;
}
.volontyorsPage .in .box .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 177, 65, 0.1960784314);
}
.volontyorsPage .in .box .bottom h1 {
  font-size: 20px;
  font-weight: 500;
  color: #00b141;
}
.volontyorsPage .in .box .bottom p {
  font-size: 25px;
  color: #00b141;
}
.volontyorsPage ul {
  list-style: none;
  display: flex;
  align-items: center;
  width: 300px;
  gap: 10px;
  padding: 30px 20px;
  margin: auto;
}
.volontyorsPage ul button {
  list-style: none;
  cursor: pointer;
  padding: 20px 20px;
  background-color: #E0E0E0;
  border: 2px solid #00b141;
  border-radius: 10px;
}

@media (max-width: 1377px) {
  .volontyorsPage .in .box {
    width: 600px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #00b141;
    transition: all 0.6s;
  }
}
@media (max-width: 1277px) {
  .volontyorsPage .in .box {
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #00b141;
    transition: all 0.6s;
  }
}
@media (max-width: 1177px) {
  .volontyorsPage .in .box {
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #00b141;
    transition: all 0.6s;
  }
}
@media (max-width: 1077px) {
  .volontyorsPage .in .box {
    width: 450px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #00b141;
    transition: all 0.6s;
  }
}
@media (max-width: 977px) {
  .volontyorsPage .in .box {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #00b141;
    transition: all 0.6s;
  }
}
@media (max-width: 525px) {
  .volontyorsPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
    padding-top: 100px;
    padding-bottom: 500px;
    gap: 30px;
  }
  .volontyorsPage .in .box {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #00b141;
    margin: auto;
  }
  .volontyorsPage .in .box .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00b141;
    padding: 20px;
    color: white;
    gap: 10px;
  }
  .volontyorsPage .in .box .top article {
    width: 80%;
    text-align: start;
  }
  .volontyorsPage .in .box .top article h1 {
    font-weight: 500;
    font-size: 15px;
  }
}
@media (max-width: 422px) {
  .volontyorsPage .in .box .center span {
    max-width: 90%;
    font-size: 13px;
  }
}
@media (max-width: 393px) {
  .volontyorsPage .in .box .center span p {
    font-size: 13px;
  }
}
.create {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.create .box {
  display: grid;
  background-color: rgba(253, 169, 14, 0.707);
  border-radius: 10px;
}
.create .box p {
  padding: 20px;
  margin: auto;
}
.create .box .center {
  display: grid;
  grid-gap: 0px;
  width: 360px;
  height: 320px;
  padding: 20px;
}
.create .box .center span {
  display: grid;
  text-align: start;
}
.create .box .center span input {
  width: 95%;
  height: 50px;
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 0px 2.5%;
  font-size: 15px;
}
.create .box .center span p {
  margin-left: -20px;
}
.create .box .bottom {
  display: block;
  align-items: center;
  justify-content: center;
  width: 360px;
  padding: 20px;
  padding-top: 0px;
  line-height: 30px;
}
.create .box .bottom div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.create .box .bottom button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  margin: auto;
  background-color: #00b141;
  border: none;
  border-radius: 10px;
}

.Be {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.Be .top {
  display: grid;
  grid-gap: 20px;
}
.Be .top select {
  padding: 10px;
}
.Be .top p {
  color: #00b141;
}
.Be .top span {
  display: grid;
  grid-gap: 10px;
}
.Be .top span input {
  width: 340px;
  padding: 10px 5px;
  overflow: hidden;
  outline: none;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 17px;
  color: gray;
}
.Be .top button {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #00b141;
  font-size: 17px;
  color: white;
}/*# sourceMappingURL=App.css.map */